<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL5JiYGbRQHGRUBMkKx1RmWYxrpyfTZi4</string>
	<key>GCM_SENDER_ID</key>
	<string>627462912255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpGroceries.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cp-groceries</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-groceries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627462912255:ios:4cf65238a4949200f7b4ca</string>
</dict>
</plist>